/******************************************************************************
 * Squarespace Block - Gallery
 *
 * Custom CSS styles that relate to Squarespace Gallery Blocks.
*******************************************************************************/

$img-displacementX: 8%;
$img-displacementY: 10%;

.sqs-block-gallery .sqs-gallery-block-slideshow {
    background-color: transparent;
    .img-wrapper{
        width: 50%;
        height: 85%;
        overflow: visible !important;
        border: 1px solid rgba(255,255,255,.5);
        img{
            width: 100% !important;
            height: auto !important;
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            
            @box-shadow(-20px 20px 40px rgba(0, 0, 0, .2));
        }
    }
    
    .sqs-video-overlay,
    .sqs-gallery-design-stacked-slide{
        overflow: visible !important;
    }
    
    .sqs-video-wrapper .sqs-video-overlay .sqs-video-icon{
        left: 25% + $img-displacementX / 2;
        top: 50% + $img-displacementY;
    }
    
    .sqs-gallery-controls .previous{ left: -3.5%; }
    .sqs-gallery-controls .next{ right: -3.5%; }
}

.sqs-block-gallery .sqs-gallery-block-slideshow.sqs-gallery-block-meta-position-bottom-right,
.sqs-block-gallery .sqs-gallery-block-slideshow.sqs-gallery-block-meta-position-top-right{
    .img-wrapper{
        float: left;
        img{
            @include transform(translate($img-displacementX,$img-displacementY));
        }
    }
    .meta{
        right: 0 !important;
    }
}
.sqs-block-gallery .sqs-gallery-block-slideshow.sqs-gallery-block-meta-position-bottom-left,
.sqs-block-gallery .sqs-gallery-block-slideshow.sqs-gallery-block-meta-position-top-left{
    .img-wrapper{
        float: right;
        img{
            @include transform(translate(-1*$img-displacementX,$img-displacementY));
        }
    }
    .meta{
        left: 0 !important;
    }
}



.sqs-block-gallery .sqs-gallery-block-slideshow .sqs-gallery-design-stacked {
    height: 0 !important;
    padding-bottom: 36%;
    width: 90%;
    margin: auto;
    
    .meta{
        @include vertically-centered(relative);
        bottom: initial;
        position: absolute;
    }
}
