/******************************************************************************
 * Squarespace Block - Image
 *
 * Custom CSS styles that relate to Squarespace Image Blocks.
*******************************************************************************/
.sqs-block-image {
}





// --------- Collage Layout
.sqs-block-image .design-layout-collage .image-card{
    background-image: url('https://static1.squarespace.com/static/59287b8fe3df2873d7677c19/t/5939c102d1758e275ba3f85a/1496957186692/red-bailey-for-collage-block.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 100%;
    
    .image-title-wrapper{
        @extend .vertically-centered;
        .image-title{
            padding: .5em 0;
            border-top: 3px solid white;
            border-bottom: 3px solid white;
        }
    }
    .image-subtitle-wrapper, .image-button-wrapper{
        display: none;
    }
    
}
.sqs-block-image .design-layout-collage:not(.sqs-narrow-width).image-position-right>div:first-child>div{
    left: -30% !important;
}





// --------- Card Layout
.sqs-block-image .design-layout-card .image-card{
    .image-title{
        &:before{
            content: "";
            display: block;
            width: 65px;
            height: 4px;
            background-color: $color-default-accent;
            margin-bottom: 25px;
        }
        
        p{
            em{
                font-family: alternate-gothic-no-2-d;
                font-weight: 400;
                font-style: normal;
                color: $color-default-accent;
                letter-spacing: 0.05em;
            }
        }
    }
}





// --------- Inline Layout
// Make full width, 'stretch' images go edge to edge
.sqs-layout:not(.sqs-editing)>.sqs-row>.sqs-col-12 .sqs-block-image .design-layout-inline .sqs-intrinsic:not(.stretch){
    width: 100vw;
    max-width: $max-page-width;
    left: 50%;
    @include transform(translateX(-50%));
}