/******************************************************************************
 * Squarespace Block - Summary
 *
 * Custom CSS styles that relate to Squarespace Summary Blocks.
*******************************************************************************/


.sqs-block-summary-v2 {
    .summary-title {
        //Copied from BlogList-item-title
        margin-bottom: 10px;
        font-family: proxima-nova;
        font-weight: 300;
        font-style: normal;
        font-size: 32px;
        letter-spacing: 0.025em;
        line-height: 1.3em;
        text-transform: uppercase;
        color: rgba(35, 31, 32, 0.9);
        -webkit-box-ordinal-group: 3;
        order: 3;
        text-decoration: none;
        //end copy
    }
    
    .summary-metadata-item{
        font-family: alternate-gothic-no-2-d;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: rgba(97, 147, 189, 0.9);
    }
}