/******************************************************************************
 * Squarespace Block - Gallery
 *
 * Custom CSS styles that relate to Squarespace Gallery Blocks.
*******************************************************************************/
$img-displacement: 60px;

.sqs-block-gallery .sqs-gallery-block-slideshow {
    background-color: transparent;
    .img-wrapper{
        width: 50% ;
        height: auto;
        overflow: visible !important;
        border: 1px solid rgba(255,255,255,.5);
        img{
            width: 100% !important;
            height: auto !important;
            top: $img-displacement !important;
        }
    }
    .sqs-gallery-controls .previous{ left: -3.5%; }
    .sqs-gallery-controls .next{ right: -3.5%; }
}

.sqs-block-gallery .sqs-gallery-block-slideshow.sqs-gallery-block-meta-position-bottom-right,
.sqs-block-gallery .sqs-gallery-block-slideshow.sqs-gallery-block-meta-position-top-right{
    .img-wrapper{
        float: left;
        img{
            left: $img-displacement !important;
        }
    }
    .meta{
        right: 0 !important;
    }
}
.sqs-block-gallery .sqs-gallery-block-slideshow.sqs-gallery-block-meta-position-bottom-left,
.sqs-block-gallery .sqs-gallery-block-slideshow.sqs-gallery-block-meta-position-top-left{
    .img-wrapper{
        float: right;
        img{
            right: $img-displacement !important;
        }
    }
    .meta{
        left: 0 !important;
    }
}



.sqs-block-gallery .sqs-gallery-block-slideshow .sqs-gallery-design-stacked {
    height: 0 !important;
    padding-bottom: 36%;
    width: 90%;
    margin: auto;
    
    .meta{
        @include vertically-centered(relative);
        bottom: initial;
        position: absolute;
    }
}
