/******************************************************************************
 * Page - About Markets We Serve
 *
 * Custom CSS styles that relate to the About Markets We Serve Page.
*******************************************************************************/

#about-markets-we-serve-gallery{
    @extend .blue-asphalt-bg;
    
    @media screen and (min-width: 641px){
        .sqs-block-gallery .sqs-gallery-block-slideshow+.sqs-gallery-design-strip{
            position: absolute;
        }
    }
}


// Use the mobile version of the gallery section on mobile!
#about-markets-we-serve-mobile-gallery{
    display: none;
}
@media screen and (max-width: 640px){
    #about-markets-we-serve-mobile-gallery{
        display: block;
    }
    #about-markets-we-serve-gallery{
        display: none;
    }
}