/******************************************************************************
 * Page - About Innovation and Technology
 *
 * Custom CSS styles that relate to the About Innovation and Technology Page.
*******************************************************************************/


#about-innovation-and-technology-gallery{
    @extend .blue-asphalt-bg;
    
    @media screen and (min-width: 641px){
        .sqs-block-gallery .sqs-gallery-block-slideshow+.sqs-gallery-design-strip{
            position: absolute;
        }
    }
 
    .sqs-gallery-design-stacked-slide[data-type="video"] .meta .meta-title:before{ content: "Video"; }
    .sqs-gallery-design-stacked-slide[data-type="image"] .meta .meta-title:before{ content: "Image"; }

}