/******************************************************************************
 * Page - Home Page
 *
 * Custom CSS styles that relate to the Home Page.
*******************************************************************************/


#home-slides{}

#home-intro{
    @media screen and (max-width: 640px){
        .sqs-block-spacer{ display: none; }
    }
    
    // force the button to sit right at the bottom of the text
    @media screen and (min-width: 900px){
        .sqs-block-button{
            float: left;
            width: 45%;
            clear: none;
        }
    }
    
    // Make product image block sit to far right of page
    #block-yui_3_17_2_5_1495826143677_3705{
        @media screen and (min-width: 1001px){
            margin-right: -10%;
            width: 60%;
        }
        @media screen and (min-width: 851px) and (max-width: 1000px){
            margin-right: -9%;
            width: 52%;
        }
        @media screen and (min-width: 691px) and (max-width: 850px){
            margin-right: -7%;
            width: 57%;
        }
        @media screen and (min-width: 641px) and (max-width: 690px){
            margin-right: -8%;
            width: 63%;
        }
        @media screen and (max-width: 640px){
            .sqs-block-content{ width: 75%; margin: 0 auto; }
        }
    }
}

#home-brand-logos{
    background-color: #f4f4f4;
    background-image: none;
    .Index-page-content{ padding-bottom: 1.75%; padding-top: 1.75%; }
    .sqs-gallery-design-grid .sqs-gallery-design-grid-slide .margin-wrapper{ margin-bottom: 0 !important; margin-right: 95px !important; }
}

#home-markets-served{
    background: $blue-tree-mt-bg $color-mt-sky-blue;
    background-position: center 60px;
    background-size: cover;
    background-repeat: no-repeat;
    
    .Index-page-content{
        padding-top: 7.5%;
        padding-bottom: 1.5%;
        @media screen and (min-width: 640px){ padding-top: 8%; padding-bottom: 8%; }
    }
    
    
    .sqs-block-gallery .sqs-gallery-block-slideshow {
        .img-wrapper{
            width:45%;
            @media screen and (max-width: 640px){ width: 100%; }
        }
        .meta{ 
            width: 45% !important; top: 30px; 
            @media screen and (max-width: 640px){ width: 100% !important; top: 0; }
        }
        .meta-inside{
            text-align: center;
            &:before{
                margin-left: auto;
                margin-right: auto;
            }
        }
        .meta .meta-title{ 
            font-size: 35px;
            @media screen and (min-width: 1351px){ font-size: 45px; }
        }
        .meta-title:before{
                content: "Markets Served";
                text-transform: uppercase;
                color: $color-brand-palette-blue;
                font-weight: 500;
                margin-bottom: 5px;
                font-size: .6em;
                width: 100%;
        }
        .meta-description p{ display: none; }
    
    }
    
    .sqs-block-gallery{
        .sqs-gallery-block-slideshow, .sqs-gallery-design-stacked {
            width: 90%;
            margin: auto;
        }
        .img-wrapper{
            @include vertically-centered(absolute); 
        }
    }
        
    
    // make overflow visible
    @media screen and (min-width: 641px){ overflow: visible; }
}

#home-regions-served{
    .Index-page-content{
        @media screen and (min-width: 1000px){ padding-top: 10% }
    }
    
    .Index-page-image:before{
        background-image: $usa-map;
        background-position: right 40%;
        background-repeat: no-repeat;
        background-size: 50%;
            @media screen and (max-width: 640px){
                background-position: right 40%;
                background-size: 90%;
                opacity: .4;
        }
    }
    
    
    @media screen and (max-width: 640px){
        .sqs-block-spacer{ display: block; }
    }
}

#home-featured-projects {
    .Index-page-content{ padding: 0; }
    
    .image-block{
        padding-bottom: 0;
        padding-top: 0;
    }
    
    // Add overlay
    .sqs-block-image .design-layout-card .image-overlay{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,111111+100&0.55+0,0+40 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(7,7,7,0) 40%, rgba(17,17,17,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.55) 0%,rgba(7,7,7,0) 40%,rgba(17,17,17,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(7,7,7,0) 40%,rgba(17,17,17,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c000000', endColorstr='#00111111',GradientType=0 ); /* IE6-9 */
    }
    
    .sqs-block-image .design-layout-card .image-title p{
        font-family: alternate-gothic-no-2-d;
        font-weight: 400;
        font-style: normal;
        letter-spacing: .06em;
        text-transform: uppercase;
        line-height: 1em;
    }
    
    
    // Add "FEATURED" text above project title
    .image-title:before{
        content: "FEATURED";
        display: block;
        font-family: proxima-nova;
        text-transform: uppercase;
        font-size: .55em;
        line-height: 1em;
        height: 0.3em;
        width: 0;
        background-color: transparent;
    }
    
    
    // Alternate accent color for every other row
    @mixin accent($color) {
        .image-title:before{ color: $color; }
        .image-title-wrapper:before{ background-color: $color; }
        .image-button a{ 
            border-color: $color;
            &:hover{
                background-color: $color;
                color: white;
            }
        } 
    }
    .sqs-layout > .sqs-row > .sqs-col-12 {
        .image-block:nth-of-type(2n){ @include accent($color-brand-palette-red); }
        .image-block:nth-of-type(2n+1){ @include accent($color-brand-palette-blue); }
    }
    
    
    
    /* // Adjust image so it is full-height of the row, and it centers horizontally if it overflows
    .sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-inset{
        min-height: 100%;
    }
    .sqs-block-image .design-layout-card .intrinsic img{
        
        position: relative !important;
        left: 50% !important;
        @include transform(translatex(-50%));
    }*/
    
}

.tweak-footer-layout-stacked.homepage .Footer-blocks--top{
    display: none;
}