/******************************************************************************
 * Page - About Page
 *
 * Custom CSS styles that relate to the Products Landing Page and Individual Product Pages.
*******************************************************************************/

.collection-type-index main section[id$="-videos-section"]{
    @extend .blue-asphalt-bg;
    
    @media screen and (min-width: 641px){
        .sqs-block-gallery .sqs-gallery-block-slideshow+.sqs-gallery-design-strip{
            position: absolute;
        }
    }
    @media screen and (max-width: 480px ){
        .sqs-gallery-block-slideshow .meta{ display: none !important; }
    }
    
    .sqs-gallery-design-stacked-slide[data-type="video"] .meta .meta-title:before{ content: "Video"; }
    .sqs-gallery-design-stacked-slide[data-type="image"] .meta .meta-title:before{ content: "Image"; }
}