/******************************************************************************
 * Collection Type - Index Gallery
 *
 * Custom CSS styles that relate to gallery sections on index pages.
*******************************************************************************/

Index-gallery-wrapper{
    
    .Index-gallery-item-content--has-title-and-body {
        .Index-gallery-item-content-body {
            padding-top: 0;

            p{ 
                margin: 0;
                a{
                    font-size: 35px;
                    line-height: 1em;
                    letter-spacing: .05em;
                    vertical-align: middle;

                    padding: 0.15em .5em;
                    border: solid 2px #5f92bc;
                }
            }
        }
    }
}