/******************************************************************************
 * Collection Type - Blog
 *
 * Custom CSS styles that relate to Blog pages.
*******************************************************************************/

.collection-type-blog {
    
    // back link (which I added using JQuery)
    .back-link{
        text-align: left;
        padding-bottom: 48px;
        color: rgba(35,31,32,.7);
        a{
            @include transition(opacity .15s ease-out);
            border-bottom: solid 1px rgba(35,31,32,0.2);
            &:hover{
                opacity: .5;
                
            }
        }
    }
    
    // Added Custom Sidebar to default Brine template using js
    .Main-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .custom-sidebar {
        width: 300px;
        padding-left: 40px;
    }
    .BlogList {
        width: 100%; 
    }
    
    
    // Add white abstract bg to list view
    &.view-list {
        .Main.Main--blog-list{
            @extend .white-bg6;
        }
    }
    // Add white abstract bg to individual posts
    &.view-item {
        .Main.Main--blog-item{
            @extend .white-bg5;
        }
    }

    .BlogItem-pagination{
        margin-top: 2em;
    }
    
   
    .sqs-gallery-block-slideshow {
        
        /* add red collage bg to slide image */
        .sqs-gallery-design-stacked:after {
            $displacement: 25px;

            content: "";
            display: block;
            position: absolute;

            background-image: $red-collage-accent;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            left: -1 * $displacement;
            top: -1 * $displacement;
            bottom: $displacement;
            right: $displacement;

            @include box-shadow(20px 20px 40px rgba(0,0,0,.1));
        } 
        
        /* add drop shadows to slide image */
        .slide img{
            @include box-shadow(20px 20px 40px rgba(0,0,0,.1));
        }
    }
}

