/******************************************************************************
 * Collection Type - Blog
 *
 * Custom CSS styles that relate to Blog pages.
*******************************************************************************/

.collection-type-blog {
    
    // Add white abstract bg to list view
    Content-outer{
        @extend .white-bg6;
    }
    // Add white abstract bg to individual posts
    &.view-item {
        Content-outer{
            @extend .white-bg5;
        }
    }

    
   
    .sqs-gallery-block-slideshow {
        
        /* add red collage bg to slide image */
        .sqs-gallery-design-stacked:after {
            $displacement: 25px;

            content: "";
            display: block;
            position: absolute;

            background-image: $red-collage-accent;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            left: -1 * $displacement;
            top: -1 * $displacement;
            bottom: $displacement;
            right: $displacement;

            @include box-shadow(20px 20px 40px rgba(0,0,0,.1));
        } 
        
        /* add drop shadows to slide image */
        .slide img{
            @include box-shadow(20px 20px 40px rgba(0,0,0,.1));
        }
    }
    
    
    
    
    
    
    
    
    
}

