/******************************************************************************
 * Collection Type - Index Gallery
 *
 * Custom CSS styles that relate to gallery sections on index pages.
*******************************************************************************/


//Only the Home Slideshow will get arrows (since there isn't a way to hide them on galleries with only one slide).
section:not(#home-slides) .Index-gallery-control{
    display: none;
}


//By this rule, all non-homepage pages will have a header banner that's set to the same height as the regular page intro banners
.collection-type-index:not(.homepage) main.Index > section.Index-gallery:first-of-type {
    height: 0 !important;
    padding-bottom: 14%;
}


//Other Index Gallery rules
.Index-gallery-wrapper{
    .Index-gallery-item-content-heading:before{
        content: "";
        display: block;
        width: 65px;
        height: 4px;
        background-color: white;
        margin: 0 auto 25px;   
    }
    .Index-gallery-item-content--has-title-and-body {
        text-shadow: 0px 0px 7.5px rgba(20,20,20,.4);
        
        .Index-gallery-item-content-body {
            padding-top: 0;
            
            p{ 
                margin: 0;
                
                a{
                    text-shadow: none;
                    
                    font-size: 35px;
                    line-height: 1em;
                    letter-spacing: .05em;
                    vertical-align: middle;

                    padding: 0.15em .5em;
                    border: solid 2px #5f92bc;
                }
            }
        }
    }
}