/******************************************************************************
 * Header
 *
 * Custom CSS styles that relate to the header area.
 * Note: Not all Squarespace templates have the same classes/IDs.
*******************************************************************************/

// BACKGROUND IMAGE
header.Header.Header--top,
.Mobile-bar.Mobile-bar--top{
    background-image: $header-bg;
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
}
    
// LEFT / RIGHT PADDING
.Header-inner.Header-inner--top{
    padding-left: 7%;
    padding-right: 7%;
}

// The main nav was overlapping the spotlight icon, so I do this:
.tweak-header-primary-nav-hover-style-spotlight .Header-nav .Header-nav-inner{
    margin-left: 0;
    margin-right: 0;
}


// SITE LOGO
.Mobile-bar-branding-logo{
    @media screen and (max-width: 639px){ width: 42vw; max-width: 160px; }
}