/******************************************************************************
 * Header
 *
 * Custom CSS styles that relate to the header area.
 * Note: Not all Squarespace templates have the same classes/IDs.
*******************************************************************************/

header.Header.Header--top,
.Mobile-bar.Mobile-bar--top{
    background-image: $header-bg;
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
}