/******************************************************************************
 * Mixins
 *
 * Still working on useful mixins for Squarespace non-dev templates.
*******************************************************************************/





@mixin transition($parameters) {
    transition         : $parameters;
    -webkit-transition : $parameters;
    -moz-transition    : $parameters;
    -ms-transition     : $parameters;
}

@mixin transform($parameters) {
    transform         : $parameters;
    -webkit-transform : $parameters;
    -moz-transform    : $parameters;
    -ms-transform     : $parameters;
}

@mixin box-shadow($parameters) {
    box-shadow         : $parameters;
    -webkit-box-shadow : $parameters;
    -moz-box-shadow    : $parameters;
    -ms-box-shadow     : $parameters;
}


@mixin vertically-centered($position: relative) {
    position: $position;
    top: 50% !important;
    @include transform(translateY(-50%));
}


/* CSS3 calc() function to perform calculations */
@mixin calc($property, $expression) { 
  #{$property}: calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
} 


.subtle-box-shadow{
    @include box-shadow(-20px 20px 40px rgba(0, 0, 0, .2));
}

.white-bg{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}
.white-bg1{
    @extend .white-bg; 
    background-image: $white-bg1;
    background-color: #ffffff;
}
.white-bg2{
    @extend .white-bg;
    background-image: $white-bg2;
    background-color: #f6f6f6;
}
.white-bg3{
    @extend .white-bg;
    background-image: $white-bg3;
    background-color: #ffffff;
    background-position: left bottom;
    background-size: cover;
}