/******************************************************************************
 * Mixins
 *
 * Still working on useful mixins for Squarespace non-dev templates.
*******************************************************************************/





@mixin transition($parameters) {
    transition         : $parameters;
    -webkit-transition : $parameters;
    -moz-transition    : $parameters;
    -ms-transition     : $parameters;
}

@mixin transform($parameters) {
    transform         : $parameters;
    -webkit-transform : $parameters;
    -moz-transform    : $parameters;
    -ms-transform     : $parameters;
}

@mixin box-shadow($parameters) {
    box-shadow         : $parameters;
    -webkit-box-shadow : $parameters;
    -moz-box-shadow    : $parameters;
    -ms-box-shadow     : $parameters;
}



.vertically-centered {
    position: relative;
    top: 50% !important;
    @include transform(translateY(-50%));
}


.white-bg{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}
.white-bg1{
    @extend .white-bg; 
    background-image: $white-bg1;
    background-color: #ffffff;
}
.white-bg2{
    @extend .white-bg;
    background-image: $white-bg2;
    background-color: #f6f6f6;
}
.white-bg3{
    @extend .white-bg;
    background-image: $white-bg3;
    background-color: #ffffff;
    background-position: left bottom;
    background-size: cover;
}