/******************************************************************************
 * Fonts / Typography
 *
 * Set the extended default font behavior for the site.
 * Customization beyond what is doable in the Style Editor
 *
 *
 * RULE: center-aligned text will have the secondary accent colors (line, h1 font, button)
 * while left-aligned - default - will have default accent color 
*******************************************************************************/



/******************************************************************************
 * Accent lines preceeding headings and titles
*******************************************************************************/
#home-featured-projects .image-title-wrapper:before,
.BlogItem-title:before,
.html-block h1:before{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: $color-default-accent;
    margin-bottom: 25px;
}
.html-block h1.text-align-center:before{
    margin-left: auto;
    margin-right: auto;
}
.html-block h1.text-align-right:before{
    margin-left: auto;
}

// Alternate accent color for center-aligned
.html-block h1.text-align-center:before{
    background-color: $color-secondary-accent;
}

// Banner image text should have white accent line
section.Intro.Intro--has-image{
    .html-block h1:before,
    .html-block h1.text-align-center:before{
        background-color: white;
    }
}



/******************************************************************************
 * Headings
*******************************************************************************/

@media screen and (max-width: 640px){
  h1, h2, h3{ -webkit-hyphens: initial; -moz-hyphens: initial; -ms-hyphens: initial; hyphens: initial; }
}

/* H1 */
h1{
    @media screen and (max-width: 1080px){ font-size: 40px; }
    @media screen and (max-width: 800px){ font-size: 38px; }
    @media screen and (max-width: 690px){ font-size: 33px; }
    @media screen and (max-width: 640px){ font-size: 27px; }
    @media screen and (max-width: 375px){ font-size: 25px; }
}
// Format h1 em to be same as h2
.html-block h1 em{
    font-family: alternate-gothic-no-2-d;
    font-weight: 400;
    font-style: normal;
    color: $color-default-accent;
    letter-spacing: 0.05em;
}
// Alternate accent color for center-aligned
.html-block h1.text-align-center em{
    color: $color-secondary-accent;
}


/* H2 */
h2{
    @media screen and (max-width: 800px){ font-size: 38px; }
    @media screen and (max-width: 690px){ font-size: 33px; }
    @media screen and (max-width: 640px){ font-size: 27px; }
    @media screen and (max-width: 375px){ font-size: 25px; }
}


/* H3 */
h3{}


/******************************************************************************
 * Body Text
*******************************************************************************/

p, li{
    @media screen and (max-width: 768px){ font-size: 17px; line-height: 1.7em; }
    @media screen and (max-width: 640px){ font-size: 16px; line-height: 1.5em; }
}

.sqs-block-html blockquote, .sqs-block-markdown blockquote{
    font-style: italic;
}


/******************************************************************************
 * Buttons
*******************************************************************************/

// Alternate accent color for center-aligned
.sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-container--center a:not(.sqs-block-button-element--large),
.sqs-block-button .sqs-block-button-container--center a:not(.sqs-block-button-element--large){
    border-color: $color-secondary-accent; 
    &:hover{ background-color: $color-secondary-accent; }
}

.medium-button-style-outline .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--medium,
.medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium{
    color: #656668;
    padding: .7em 1.75em;
}


 .sqs-block-button .sqs-block-button-element--medium{
    // same as p and li
    @media screen and (max-width: 768px){ font-size: 17px; line-height: 1.7em; }
    @media screen and (max-width: 640px){ font-size: 16px; line-height: 1.5em; }
}



