/******************************************************************************
 * Fonts / Typography
 *
 * Set the extended default font behavior for the site.
 * Customization beyond what is doable in the Style Editor
 *
 *
 * RULE: center-aligned text will have the secondary accent colors (line, h1 font, button)
 * while left-aligned - default - will have default accent color 
*******************************************************************************/



/******************************************************************************
 * Accent lines preceeding headings and titles
*******************************************************************************/
#home-featured-projects .image-title-wrapper:before,
.html-block h1:before{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: $color-default-accent;
    margin-bottom: 25px;
}
.html-block h1.text-align-center:before{
    margin-left: auto;
    margin-right: auto;
}
.html-block h1.text-align-right:before{
    margin-left: auto;
}

// Alternate accent color for center-aligned
.html-block h1.text-align-center:before{
    background-color: $color-secondary-accent;
}




/******************************************************************************
 * Headings
*******************************************************************************/
// Same as h2
.html-block h1 em{
    font-family: alternate-gothic-no-2-d;
    font-weight: 400;
    font-style: normal;
    color: $color-default-accent;
    letter-spacing: 0.05em;
}
// Alternate accent color for center-aligned
.html-block h1.text-align-center em{
    color: $color-secondary-accent;
}




/******************************************************************************
 * Buttons
*******************************************************************************/

// Alternate accent color for center-aligned
.sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-container--center a,
.sqs-block-button .sqs-block-button-container--center a{
    border-color: $color-secondary-accent; 
    &:hover{ background-color: $color-secondary-accent; }
}

.medium-button-style-outline .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--medium,
.medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium{
    color: #656668;
    padding: .7em 1.75em;
}




/******************************************************************************
 * Page Intros
*******************************************************************************/
.Intro--has-image {
    h1, h2, h3, p{ 
        color: white; 
        margin: 0 auto;
    }
    h1:before{ 
        background-color: white; 
        margin-bottom: 15px;
    }
    h1{
        font-size: 30px;
        font-weight: 300;
    }
    h2{
        font-size: 80px;
    }
}